In [2]:
# Importthe dependencies.
import pandas as pd
import gmaps
import requests
import os
# Import the API key.
from config import g_key 

# Add a variable for the files to load
city_data_to_load = os.path.join("weather_data","cities.csv")

# Read the City Data
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Batagay-Alyta,RU,2021-07-30 16:08:24,67.8006,130.4114,54.79,53,22,2.80
1,1,Dikson,RU,2021-07-30 16:06:53,73.5069,80.5464,41.13,99,98,6.38
2,2,Castro,BR,2021-07-30 16:06:48,-24.7911,-50.0119,53.89,38,93,5.99
3,3,Vardo,NO,2021-07-30 16:08:25,70.3705,31.1107,50.20,76,0,11.50
4,4,Kahului,US,2021-07-30 16:06:32,20.8947,-156.4700,73.42,84,1,5.75
5,5,Bandarbeyla,SO,2021-07-30 16:08:26,9.4942,50.8122,77.00,78,100,29.57
6,6,Ushuaia,AR,2021-07-30 16:08:26,-54.8000,-68.3000,37.06,81,75,13.80
7,7,Finspang,SE,2021-07-30 16:08:27,58.7058,15.7674,69.80,67,54,8.97
8,8,Bredasdorp,ZA,2021-07-30 16:08:27,-34.5322,20.0403,57.27,87,13,4.29
9,9,Sinnamary,GF,2021-07-30 16:08:28,5.3833,-52.9500,83.73,69,20,3.91

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [34]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()

# Config view of the map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [41]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Bandarbeyla,SO,2021-07-30 16:08:26,9.4942,50.8122,77.00,78,100,29.57
9,9,Sinnamary,GF,2021-07-30 16:08:28,5.3833,-52.9500,83.73,69,20,3.91
10,10,Ixtapa,MX,2021-07-30 16:08:28,20.7000,-105.2000,83.23,78,90,3.44
11,11,Sulecin,PL,2021-07-30 16:08:29,52.4443,15.1168,78.69,42,87,10.22
15,15,Albany,US,2021-07-30 16:08:31,42.6001,-73.9662,76.46,68,80,1.99
18,18,Langsa,ID,2021-07-30 16:08:33,4.4683,97.9683,75.74,94,100,1.70
19,19,Catuday,PH,2021-07-30 16:08:34,16.2923,119.8062,80.02,85,100,17.43
21,21,Miandrivazo,MG,2021-07-30 16:08:35,-19.5167,45.4667,81.46,35,11,6.62
26,26,Kalugumalai,IN,2021-07-30 16:08:37,9.1500,77.7167,83.39,58,7,16.44
40,40,Atuona,PF,2021-07-30 16:08:44,-9.8000,-139.0333,76.59,78,92,19.10

In [42]:
preferred_cities_df.count()

City_ID       208
City          208
Country       208
Date          208
Lat           208
Lng           208
Max Temp      208
Humidity      208
Cloudiness    208
Wind Speed    208
dtype: int64

In [43]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
5   Bandarbeyla      SO     77.00   9.4942   50.8122
9     Sinnamary      GF     83.73   5.3833  -52.9500
10       Ixtapa      MX     83.23  20.7000 -105.2000
11      Sulecin      PL     78.69  52.4443   15.1168
15       Albany      US     76.46  42.6001  -73.9662
18       Langsa      ID     75.74   4.4683   97.9683
19      Catuday      PH     80.02  16.2923  119.8062
21  Miandrivazo      MG     81.46 -19.5167   45.4667
26  Kalugumalai      IN     83.39   9.1500   77.7167
40       Atuona      PF     76.59  -9.8000 -139.0333

In [46]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    hotels
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Bandarbeyla,SO,77.00,9.4942,50.8122,JABIR HOTEL
9,Sinnamary,GF,83.73,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
10,Ixtapa,MX,83.23,20.7000,-105.2000,Hotel Plaza Providencia
11,Sulecin,PL,78.69,52.4443,15.1168,Hotel Kormoran Resort & SPA
15,Albany,US,76.46,42.6001,-73.9662,
18,Langsa,ID,75.74,4.4683,97.9683,OYO 2964 Hotel Ridho
19,Catuday,PH,80.02,16.2923,119.8062,Benjie's Kubo & Cottages
21,Miandrivazo,MG,81.46,-19.5167,45.4667,Hôtel Arc En Ciel Miandrivazo
26,Kalugumalai,IN,83.39,9.1500,77.7167,Ganesh Bhavan(Sangu Hotel)
40,Atuona,PF,76.59,-9.8000,-139.0333,Villa Enata
42,Radhanpur,IN,85.03,23.8333,71.6000,YASH HOTEL
44,Morant Bay,JM,87.62,17.8815,-76.4093,Whispering Bamboo Cove Resort
50,Katsuura,JP,79.11,35.1333,140.3000,Katsuura Hotel Mikazuki
55,Kano,NG,76.46,12.0001,8.5167,Havana Guest Inn
59,Malokaterynivka,UA,79.52,47.6525,35.2539,Душевный отдых
60,Port Blair,IN,82.49,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
63,Hamilton,US,81.19,39.1834,-84.5333,Six Acres Bed & Breakfast
76,Vila Franca Do Campo,PT,75.61,37.7167,-25.4333,Pestana Bahia Praia
88,Dingle,PH,77.88,10.9995,122.6711,SEGAYA PROPERTY
94,Mitsamiouli,KM,76.75,-11.3847,43.2844,Foyer ADM

In [55]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [62]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))